#tambahPelamarBtn{
    background-color: #0f253c;
    color: #ffffff;
}
#tambahPelamarBtn:hover{
    background-color: #1d4978;
}

.modal-header{
    background-color: #0f253c;
    color: #ffffff;
}
.close-title{
    color: #cccccc;
    font-size: 2rem;
}
.close-title:hover{
    color: #ffffff;
}
#tambahPelamarForm p {
    font-size: 10px;
    margin: 0;
}
#tambahPelamarForm input{
    margin: 0;
}

#tambahPelamarForm .form-group {
    margin-bottom: 1rem;
}

#addBtn{
    width: 15rem;
    color: #ffffff;
    background-color: #0f253c;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#addBtn:hover{
    background-color: #1d4978;

}
#closeBtn{
    width: 15rem;
    color: #ffffff;
    background-color: #ff5100;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#closeBtn:hover{
    color: #ffffff;
    background-color: #eb4b00;
}